
.text-decoration{
    text-decoration: none;
}
.border{
    border-right: 1px solid white;
}
.blue{
    color: #273D90;
}
.light-blue{
    color: #47AADE;
}
.left-border{
    border-left: 1px solid grey;
}
.top-border{
    border-top: 3px solid #273D90;
    
}
.text-decoration{
    text-decoration: none;
}
h4,h3,h2,h5,h6{
    color: #47AADE;
}



 /* Parallax styling */
.services{
    background: url( '../img/Audit\ and\ Assurance.jpg') no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    padding: 5%;

}
.service{
    padding: 5%;
    margin-left: 25%;
    background-color: blue;
   
    width: 60%;
    border-radius: 10px;
}



/* Form Styling */
.form{
    background-color: white;
    padding: 2%;
}
.form input{
    padding: 5px 20px;
    border-bottom: 1px solid blue;
    border-top: none;
    border-left: none;
    border-right: none;
}
.form input :active{
    padding: 5px 20px;
    border-bottom: 1px solid blue;
    border-top: none;
    border-left: none;
    border-right: none;
}
.form select{
    padding: 5px 20px;
    border-bottom: 1px solid blue;
    border-top: none;
    border-left: none;
    border-right: none;
}
.form button{
    padding: 5px 20px;
    border-radius: 10px;
    color: white;
    background-color: blue;
    border: none;
    margin-right: 5%;
}
.form h3{
    color: blue;
    font-size: 2rem;
    font-weight: bold;
}

