
.text-decoration{
    text-decoration: none;
}
.border{
    border-right: 1px solid white;
}
.blue{
    color: #273D90;
}
.light-blue{
    color: #47AADE;
}
.left-border{
    border-left: 1px solid grey;
}
.top-border{
    border-top: 3px solid #273D90;
    
}
.text-decoration{
    text-decoration: none;
}
h4,h3,h2,h5,h6{
    color: #47AADE;
}

/* New Section Styling */

title{
    background-color:blue;
    color: white;
    padding: 1%;
    text-align: center;
}

/* nav{
    color: blue;
    font-size: 1.8rem;
    font-weight: 500px;
    margin-left: 30%;
  
} */
/* nav li{
    list-style: none;
    display: inline-block;
    padding: 1%;
    text-align: center;
    
   
}
nav li a{
    text-decoration: none;
    
} */
/* .container{
    border-top: 10px solid blue;
    border-bottom: 10px solid blue;
    padding: 2%;
    font-size: 1.5rem;
    margin-bottom: 1%;
} */
.image img{
    height: 50vh;
    width: 100%;

}

/* Home page*/

.about{
    /* background-color: white; */
    padding: 1%;
    /* text-align: center; */
}
.about h2{
    color: blue;
}
.abouts{
    background-color: white;
    padding: 1%;
}
.abouts h4{
    color: blue;
}

.services{
    background: url( '../img/Audit\ and\ Assurance.jpg') no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    padding: 5%;

}
.service{
    padding: 5%;
    margin-left: 25%;
    background-color: blue;
   
    width: 60%;
    border-radius: 10px;
}
.service h2{
    color:white;
    /* font-size: 3rem; */
    margin-left: 20%;
}
.services ul{
    color: white;
    font-weight: bold;
}
.service ul a{
    color: white;
    /* font-size: 2rem; */
    font-weight: bold;
    /* line-height: 2.5; */
}
#learn{
    background-color: white;
    color: blue;
    padding: 5px 10px;
    border-radius: 10px;
    border: none;
  
}
#learn a{
    text-decoration: none;
}

.mission{
    padding: 2%;
}
.mission h2{
    color: blue;
}
.values{
    background-color: blue;
    padding: 2%;
}
.our-values{
    text-align: center;
    font-size: 1.5rem;
}
.our-values h2{
    color:blue;

}
.overall{
    border-radius: 10px;
    background-color: white;
    
}
/* .row{
    background-color: white;
    padding: 2%;
} */
.row h3{
    color:blue;
}
.col-md-4{
    padding: 2%;
    font-size: 1.2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    background-color: white;
}
.form{
    background-color: white;
    padding: 2%;
}
.form input{
    padding: 5px 20px;
    border-bottom: 1px solid blue;
    border-top: none;
    border-left: none;
    border-right: none;
}
.form input :active{
    padding: 5px 20px;
    border-bottom: 1px solid blue;
    border-top: none;
    border-left: none;
    border-right: none;
}
.form select{
    padding: 5px 20px;
    border-bottom: 1px solid blue;
    border-top: none;
    border-left: none;
    border-right: none;
}
.form button{
    padding: 5px 20px;
    border-radius: 10px;
    color: white;
    background-color: blue;
    border: none;
    margin-right: 5%;
}
.form h3{
    color: blue;
    font-size: 2rem;
    font-weight: bold;
}
footer{
    background-color: blue;
    padding: 1%;
}
.enclose .row{
    background-color: blue;
}
.enclose .row .col-md-4{
    background-color: blue;
    box-shadow: none;
    border-radius: 0;
    
}
.enclose .row .col-md-4 ul{
    color: white;
}
.enclose .row .col-md-4 a{
    color: white;
}
#line{
    border-right: 1px solid white;
}

/* careers page*/

.career{
    background-color: white;
    padding: 2%;
}
.careerss{
    text-align: center;
}
.careerss h2{
    color:blue;
}
.careers h4{
    color: blue;

}

/* services page*/

.servicces{
    background-color: white;
    padding: 2%;
}
.servicces h2{
    text-align: center;
    color: blue;
}
.par{
    text-align: center;
}

.servicces h4{
    color: blue;
}
.servicces h3{
    color: blue;
}
.key-industries{
    text-align: center;
    color: white;
    font-weight: bold;
}
.color{
    color: blue;
}
 

/* social media icons*/

.social{
    background-color: blue;
   
    float:right;
    
}
/* Style all font awesome icons */
.fa {
    padding: 5px;
    font-size: 30px;
    width: 60px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  /* Twitter */
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .fa-youtube{
    background: #ee5f55;
    color: white;
  }

  .fa-linkedin{
    background: blue;
    color: rgb(255, 255, 255);
  }











/* The sliding images*/


.slide{
    height: 50vh;
    width: 100%;
    background-image: url("../img/Advisory.jpg");
    background-size: cover;
    animation: slide 20s infinite;
}

@keyframes slide{
    25%{
        background-image: url("../img/Audit\ and\ Assurance.jpg");
    }
    50%{
        background-image: url("../img/Advisory.jpg");
    }
    75%{
        background-image: url("../img/Tax\ Planning\ Picture.jpg");
    }
    100%{
        background-image: url("../img/Advisory.jpg");
    }
}

.slide img{
    padding: 3%;
    height: 50vh;
    width: 100%;
}

/*contact.html*/

.col-md-6{
    padding: 2%;
    
}